[submodule "external/binutils"]
	path = external/binutils
	url = git://sourceware.org/git/binutils-gdb
[submodule "external/gcc"]
	path = external/gcc
	url = git://gcc.gnu.org/git/gcc
[submodule "external/newlib"]
	path = external/newlib
	url = git://sourceware.org/git/newlib-cygwin
